{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div>
      <a class="image-link" href="{{ url }}">
        {{ content.field_image_banner }}
        <div class="image-text">
          <div class="image-title">
            {{ title_prefix }}
            {% if label and not page %}
              <h2{{ title_attributes }}>{{ label }}</h2>
            {% endif %}
            {{ title_suffix }}
          </div>
          {% if content.field_content_paragraph %}
            <div class="top-news-summary">{{ content.field_content_paragraph }}</div>
          {% endif %}
          {% if content.field_category %}
            <div class="category-teaser category-{{ content.field_category[0]['#title']|lower}}">{{ content.field_category }}</div>
          {% endif %}
        </div>
      </a>
    </div>
  </div>
</article>

