{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'node__standart') }}>
    <a class="cover-link" href="{{ url }}">
      <div class="covered-div">
        <div class="every-image-banner">
          {{ content.field_image_banner }}
        </div>
        <div class="every-image-title">
          {{ title_prefix }}
          {% if label and not page %}
            <h2{{ title_attributes }}>{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
        </div>
          {% if content.field_content_paragraph %}
            <div class="every-news-summary">{{ content.field_content_paragraph }}</div>
          {% endif %}
      </div>
    </a>
</article>
