{%
  set nav_classes = 'navbar navbar-expand-lg' ~
  (b5_navbar_schema != 'none' ? " navbar-#{b5_navbar_schema}" : ' ') ~
  (b5_navbar_schema != 'none' ? (b5_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_navbar_bg_schema != 'none' ? " bg-#{b5_navbar_bg_schema}" : ' ')
%}

{%
  set footer_classes = ' ' ~
  (b5_footer_schema != 'none' ? " footer-#{b5_footer_schema}" : ' ') ~
  (b5_footer_schema != 'none' ? (b5_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_footer_bg_schema != 'none' ? " bg-#{b5_footer_bg_schema}" : ' ')
%}

<main role="main" class="login-page">
  {% if page.nav_branding %}
  {{ page.nav_branding['wiw_theme_branding'] }}
  {% endif %}

  <div class="order-1 order-lg-2 {{ content_classes }}">
    {{ page.content }}
  </div>
</main>

{% if page.footer %}
  <footer class="mt-auto {{ footer_classes }}">
    <div class="{{ b5_top_container }}">
      {{ page.footer }}
    </div>
  </footer>
{% endif %}
