{% if data %}
  <div class="weather">
    <h4 class="weather-city">{{ data.city }}</h4>
    <ul class="weather-list">
      {% for item in data.list %}
        <li class="weather-item">
          <p class="weather-day">{{ item.day }}</p>
          <div class="weather-item-block">
            <img src="{{ item.icon_url }}">
            <div class="weather-item-info">
              <p class="weather-max-temp">{{ item.max_temp }}</p>
              <p class="weather-min-temp">{{ item.min_temp }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
